.header {
  width: 200px;
  height: 200px;
  background-color: skyblue;
}
.header a {
  color: red;
}
.header a:hover {
  color: blue;
}
.nav .logo {
  color: green;
}
.nav > p {
  color: skyblue;
}
.nav::before {
  content: "";
}
