body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei",
    STXihei, hei;
  color: #000;
  background: #f2f2f2;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #222;
}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 搜索模块 */
.search-index {
  display: flex;
  /* 固定定位跟父亲没有关系，它以屏幕为准 */
  position: fixed;
  top: 0;
  left: 50%;
  /* 固定的盒子必须有宽度 */
  width: 100%;
  min-width: 320px;
  max-width: 540px;
  height: 44px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.search-index .search {
  position: relative;
  margin: 7px 10px;
  height: 26px;
  line-height: 24px;
  border: 1px solid #ccc;
  flex: 1;
  font-size: 12px;
  color: #666;
  padding-left: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-index .search::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: url("../images/sprite.png") no-repeat -59px -279px;
  background-size: 104px;
}

.user {
  width: 44px;
  height: 44px;
  font-size: 12px;
  text-align: center;
  color: #2eaae0;
}

.user::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: url(../images/sprite.png) no-repeat -59px -194px;
  background-size: 104px;
  margin: 4px auto -2px;
}

/* focus */
.focus {
  margin-top: 44px;
}
.focus img {
  width: 100%;
}

/* 局部导航栏 */
.local-nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  margin: 3px 4px;
  border-radius: 8px;
}

.local-nav li {
  flex: 1;
}

.local-nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
  width: 32px;
  height: 32px;
  margin-top: 8px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  background-size: 32px auto;
}

.local-nav li .local-nav-icon-icon2 {
  background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3 {
  background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4 {
  background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5 {
  background-position: 0 -128px;
}

/* nav */
nav {
  border-radius: 8px;
  margin: 0 4px 3px;
  overflow: hidden;
}

nav .nav-common {
  height: 88px;
  display: flex;
}

nav .nav-common:nth-child(1) {
  background: -webkit-linear-gradient(left, #fa5a55, #fa994d);
}

nav .nav-common:nth-child(2) {
  background: -webkit-linear-gradient(left, #4b90ed, #538ced);
}

nav .nav-common:nth-child(3) {
  background: -webkit-linear-gradient(left, #34c2a9, #6cd559);
}

nav .nav-common:nth-child(2) {
  margin: 3px 0;
}

.nav-items {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-items a {
  text-align: center;
  flex: 1;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-items:nth-child(1) a {
  line-height: 88px;
}

.nav-items:nth-child(-n + 2) {
  border-right: 1px solid #fff;
}

.nav-items:nth-child(n + 2) a:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.nav-items:nth-child(1) {
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px;
}

/* 侧导航栏 */
.subnav-entry {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4px;
  border-radius: 8px;
  padding: 5px 0;
  background-color: #fff;
}

.subnav-entry li {
  /* 可以写% 占父亲的百分比 */
  flex: 20%;
}

.subnav-entry a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subnav-entry li [class^="subnav-entry-icon"] {
  margin-top: 4px;
  width: 28px;
  height: 28px;
  background: url(../images/subnav-bg.png) no-repeat;
  background-size: 28px;
}

.subnav-entry li .subnav-entry-icon-icon2 {
  background-position: 3px -28px;
}

.subnav-entry li .subnav-entry-icon-icon3 {
  background-position: 3px -61px;
}

/* sales-box */
.sales-box {
  background-color: #fff;
  border-top: 1px solid #bbb;
  margin: 4px;
}

.sales-hd {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
  position: relative;
  text-indent: -999px;
  overflow: hidden;
}

.sales-hd h2::after {
  position: absolute;
  top: 8px;
  left: 20px;
  content: "";
  width: 79px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px;
}

.more {
  position: absolute;
  right: 5px;
  top: 0px;
  background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
  border-radius: 15px;
  padding: 3px 20px 3px 10px;
  color: #fff;
}

.more::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 7px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.row {
  display: flex;
}

.row a {
  flex: 1;
  border-bottom: 1px solid #eee;
}

.row a img {
  width: 100%;
}

.row a:nth-child(1) {
  border-right: 1px solid #eee;
}
